<% if (errorMessage.length > 0) { %>
    <div class="alert alert-danger">
        <% errorMessage.forEach(function(error) { %>
            <%= error %><br>
        <% }); %>
    </div>
<% } %>

<div class="cart-page">
    <div class="container">
        <div class="cart-table">
            <table>
                <thead>
                <tr>
                    <th class="product-h">Prodotto</th>
                    <th>Nome</th>
                    <th>Prezzo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% if (carrello){ %>
                    <% carrello.forEach(function (prodotto) { %>
                        <tr>
                            <td class="product-col">
                                <a href="/product/<%= prodotto.id %>" class="product-link">
                                    <div class="card-img-top text-center">
                                        <img src="<%= prodotto.foto_info %>" alt="<%= prodotto.nome %>"
                                             class="img-fluid product-image">
                                    </div>
                                </a>
                            </td>
                            <td class="name-col"><%= prodotto.nome %></td>
                            <td class="price-col"><%= prodotto.prezzo %></td>
                            <td>
                                <a href="/cart/remove/<%= prodotto.id %>"
                                   class="primary-btn pc-btn btn-remove">Rimuovi</a>
                            </td>
                        </tr>
                    <% }); %>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="shopping-method">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="total-info">
                        <div class="total-table">
                            <table>
                                <thead>
                                <tr>
                                    <th class="total-cart">Totale Carrello</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="total-cart-p">€ <%= total %></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <a href="/checkout" class="primary-btn chechout-btn">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>