<% if (errorMessage.length > 0) { %>
    <div class="alert alert-danger">
        <% errorMessage.forEach(function(error) { %>
            <%= error %><br>
        <% }); %>
    </div>
<% } %>

<section class="cart-total-page spad">
    <div class="container">
        <form action="/checkout/buy" method="post" class="checkout-form">
            <div class="row">
                <div class="col-lg-12">
                    <h3>I tuoi dati</h3>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="in-name">Nome*</p>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" placeholder="Nome" value="<%= user.nome %>" required>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" placeholder="Cognome" value="<%= user.cognome %>" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="in-name">Indirizzo*</p>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" placeholder="Indirizzo" value="<%= indirizzo.indirizzo %>" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="in-name">Paese*</p>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" placeholder="Paese" value="<%= indirizzo.state %>" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="in-name">Città*</p>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" placeholder="Città" value="<%= indirizzo.city %>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="in-name">Provincia</p>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" placeholder="Provincia" value="<%= indirizzo.provincia %>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="in-name">Cap*</p>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" placeholder="CAP" value="<%= indirizzo.zip_code %>">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="order-table">
                        <div class="cart-total">
                            <span>Totale</span>
                            <p>€ <%= totale %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="payment-method">
                        <button type="submit">Ordina ora</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

