<% if (errorMessage.length > 0) { %>
    <div class="alert alert-danger">
        <% errorMessage.forEach(function(error) { %>
            <%= error %><br>
        <% }); %>
    </div>
<% } %>

<section class="carousel">
    <div class="page">
        <div id="carousel" class="carousel">
            <% images.forEach(function(image, index) { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                    <img class="slider" src="/img/slider/<%= image %>" alt="Slide Image">
                </div>
            <% }); %>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>


<section class="search-index">
    <div class="container mt-4">
        <div class="card">
            <div class="card-body p-4">
                <h4 class="card-title text-center mb-4">Ricerca Oggetti</h4>
                <form action="/search/search" method="POST" class="row g-3">
                    <div class="col-md-4">
                        <label for="nome" class="form-label">Nome prodotto</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Inserisci il nome">
                    </div>
                    <div class="col-md-4">
                        <label for="prezzoMax" class="form-label">Prezzo Massimo</label>
                        <input type="number" class="form-control" id="prezzoMax" name="prezzoMax" min="0"
                               placeholder="Inserisci prezzo massimo">
                    </div>
                    <div class="col-md-4">
                        <label for="locazione" class="form-label">Locazione</label>
                        <input type="text" class="form-control" id="locazione" name="locazione"
                               placeholder="Città, Regione">
                    </div>
                    <div class="col-12 text-center mt-2">
                        <button type="submit" class="btn btn-primary">Cerca</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="features-section spad">
    <div class="features-ads">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-features-ads first">
                        <img src="img/icons/f-delivery.png" alt="">
                        <h4>Free shipping</h4>
                        <p>Tu ordini, noi paghiamo la spedizione in tutta italia.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-features-ads">
                        <img src="img/icons/chat.png" alt="">
                        <h4>Online support 24/7</h4>
                        <p>Qualcosa è andato storto? Non esitare a contattarci</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="latest-products spad">
    <div class="container">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Ultimi prodotti</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <% products.forEach((product, index) => { %>
                <a href="/product/<%= product.id %>" class="col-md-3 mb-4 text-decoration-none">
                    <div class="card product-card">
                        <div class="card-img-top text-center">
                            <img src="<%= product.foto_info %>" alt="<%= product.nome %>"
                                 class="img-fluid product-image">
                        </div>
                        <div class="card-body d-flex flex-column justify-content-end">
                            <h5 class="card-title text-center"><%= product.nome %></h5>
                            <p class="card-text text-center price">€ <%= product.prezzo %></p>
                        </div>
                    </div>
                </a>

                <% if ((index + 1) % 4 === 0) { %>
        </div>
        <div class="row">
            <% } %>
            <% }); %>
        </div>
    </div>
</section>