<% if (errorMessage.length > 0) { %>
    <div class="alert alert-danger">
        <% errorMessage.forEach(function(error) { %>
            <%= error %><br>
        <% }); %>
    </div>
<% } %>

<section class="product-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-slider owl-carousel image-container">
                    <div class="product-img">
                        <figure>
                            <img src="<%= product.photo %>" alt="<%= product.nome %>">
                        </figure>
                    </div>
                    <% if (product.images) { %>
                        <% product.images.forEach(function (image) { %>
                            <div class="product-img">
                                <figure>
                                    <img src="<%= image %>" alt="">
                                </figure>
                            </div>
                        <% }); %>
                    <% } %>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="product-content">
                    <h2><%= product.nome %></h2>
                    <h5>€ <%= product.prezzo %></h5>
                    <p><%= product.descrizione %></p>
                    <ul class="tags">
                        <li><span>Categoria: </span><%= product.categoria %></li>
                    </ul>
                    <a href="/favourites/add/<%= product.id %>" class="primary-btn pc-btn">Add to favourites</a>
                    <a href="/cart/add/<%= product.id %>" class="primary-btn pc-btn">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="related-product spad">
    <div class="container">
        <div class="row">
            <% randomProducts.forEach((product, index) => { %>
                <a href="/product/<%= product.id %>" class="col-md-3 mb-4 text-decoration-none">
                    <div class="card h-100">
                        <img src="<%= product.photo %>" class="card-img-top product-display" alt="<%= product.nome %>">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title"><%= product.nome %></h5>
                            <p class="card-text flex-grow-1"><%= product.descrizione.substring(0, 100) %>...</p>
                            <p class="card-text">Prezzo: €<%= product.prezzo %></p>
                        </div>
                    </div>
                </a>

                <% if ((index + 1) % 4 === 0) { %>
        </div>
        <div class="row">
            <% } %>
            <% }); %>
        </div>
    </div>
</section>