<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card mb-4 mt-4">
            <div class="card-header">
                <i class="fas fa-plus me-1"></i>
                Aggiungi Nuova Categoria
            </div>
            <div class="card-body">
                <form action="/admin/categories/add" method="POST">
                    <div class="mb-3">
                        <label for="nomeCat" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="nomeCat" name="nomeCat" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Aggiungi</button>
                </form>
            </div>
        </div>
        <div class="card mb-4">
            <h4 class="text-center mb-3 mt-3">Categorie</h4>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Categorie
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Nome</th>
                            <th>Numero oggetti</th>
                            <th>Oggetti venduti</th>
                            <th>Insert_time</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>id</th>
                            <th>Nome</th>
                            <th>Numero oggetti</th>
                            <th>Oggetti venduti</th>
                            <th>Insert_time</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <% if(categorie) { %>
                            <% categorie.forEach(function (categoria) { %>
                                <tr>
                                    <td>
                                        <%= categoria.id %>
                                    </td>
                                    <td>
                                        <%= categoria.nome %>
                                    </td>
                                    <td>
                                        <%= categoria.oggetti %>
                                    </td>
                                    <td>
                                        <%= categoria.acquistati %>
                                    </td>
                                    <td>
                                        <%= categoria.time %>
                                    </td>
                                </tr>
                            <% }); %>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>